p {
    font-family: var(--font-main);
    color: var(--color-text);
    font-size: var(--text-size);
    margin: 1rem 1rem;
    text-align: justify;
}

u {
  padding-bottom: 0.5px;
  text-decoration:none;
  border-bottom: 1px solid var(--color-text);
}

@media screen and (max-width: 768px) {
    #obsidian-content p, #obsidian-content li {
            font-size: 16px;
            line-height: 1.6;
        }

    ul {
        padding-left: 15px;
    }
    
    ul li::before {
        left: -15px;
    }
}

.main-header {
    font-family: var(--font-mono);
    font-size: var(--main-header-size);
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--accent);
    border-left: 4px solid var(--accent);
    border-right: 4px solid var(--accent);
    padding: 0 5rem;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .main-header {
        font-size: 24px;
        padding: 0 1rem !important; 
        border-width: 2px;
    }
}

.motto {
    font-family: var(--font-serif);
    font-size: var(--text-size);
    color: var(--color-text);
    text-align: center;
    line-height: 2;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

/* System Message */

.system-msg {
    @include SYSTEM-MESSAGE($font-size: 16px);
}

.system-msg-warning {
    @include SYSTEM-MESSAGE($font-size: 16px, $color: var(--accent-secondary));
}

.system-msg-note {
    @include SYSTEM-MESSAGE($color: var(--color-note), $font-size: 14px);
}

.note {
    color: var(--color-note);
}

/* Cursor selected text */

::selection {
    background-color: #00e5ff29;
}

p::selection {
    background-color: #00e5ff29;
}

/* Inline code */

p code, li code {
    color: var(--accent);
    padding: 0 2px;
    font-family: var(--font-mono);
    letter-spacing: 0.2rem;
    word-break: break-word;
}

/* strikethroughs */

del {
  color: var(--color-note); 
  text-decoration-thickness: 2px;
}

/* blockquotes */

blockquote {
    font-size: var(--text-size);
    border-left: solid 2px var(--accent);
    margin: 25px 20px;
    overflow-x: hidden;
}

blockquote p {
    font-family: var(--font-main) !important;
}


a.footnote {
    border-bottom: none !important;
}