ul {
    list-style: none;
    padding-left: 20px;
    margin: 0.25rem 1rem;
    font-size: var(--text-size);

    li {
        position: relative;
        margin: 0.5rem 0;
        color: var(--color-text);

        &::before {
            content: ">";
            position: absolute;
            left: -20px;
            color: var(--accent);
            font-weight: bold;
        }
    }
}

ol {
    font-size: var(--text-size);
    li {
        margin-bottom: 0.5rem;
    }
}