ul {
    list-style: none;
    padding-left: 20px;
    margin: 1rem 1rem;

    li {
        position: relative;
        margin-bottom: 0.5rem;
        color: var(--color-text);

        &::before {
            content: ">";
            position: absolute;
            left: -20px;
            color: var(--accent);
            font-weight: bold;
        }
    }
}