h1 {
    font-family: var(--font-mono);
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--accent);
    border-left: 4px solid var(--accent);
    padding-left: 15px;
    margin-left: 1rem;
    margin-right: 1rem;
    font-weight: lighter;
}

h2 {
    font-family: var(--font-mono);
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--color-text);
    border-left: 4px solid var(--accent);
    padding-left: 15px;
    margin-left: 1rem;
    margin-right: 1rem;
    font-weight: lighter;
};

h3 {
    font-family: var(--font-mono);
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--color-text);
    padding-top: 15px;
    margin-left: 1rem;
    margin-right: 1rem;
    font-weight: lighter;
};