    <footer>
        <div class="nav-wrapper">
        {% include footer-prev-next.html %}
        </div>

        <div class="footer-div"></div>
        <div class="footer-grid">
            <div class="footer-item">
                <span class="label">SYSTEM_TIME:</span>
                <span class="value" id="current-time">00:00:00</span>
            </div>
            <div class="footer-item">
                <span class="label">OPERATOR:</span>
                <span class="value">GUEST_USER</span>
            </div>
            <div class="footer-item">
                <span class="label">ENCRYPTION:</span>
                <span class="value">AES-256</span>
            </div>
        </div>
        <p class = "footer-credit">&copy; {{ "now" | date: "%Y" }} Dimension 42nd. All Rights Reserved.</p>
    </footer>
