    <!-- loading screen -->
    <div id="loading-screen">
        <div id="phase-login" class="loader-phase">
            <p class="main-header">LogiX Predictive Computational SYSTEM</p>
            <p class="system-msg visible">SYSTEM_ACCESS REQUIRED</p>
            <div class="login-input-wrapper">
                <span class="system-msg">></span>
                <input type="text" id="db-password" readonly autocomplete="off">
            </div>
            <p id="auth-status" class="system-msg-note">INITIALIZING AUTHENTICATION...</p>
            <p class="system-msg-note" style="position:fixed; bottom: 0; padding-bottom: 1rem;">
                PROPERTY OF TURRIS GRISEA // CONFIDENTIAL
            </p>
        </div>
        
        <div id="phase-scan" class="loader-phase" style="display: none;">
            <p class = "main-header" style = "position: fixed; top: 0; margin-top: 50px;">LogiX Predictive Computational SYSTEM</p>
            <div class="fui-scanner">
                <div class="ring outer-dashed"></div>
                <div class="ring middle-data"></div>
                <div class="ring inner-steady"></div>
                <div class="ring inner-notch"></div>
                <div class="scan-sweep"></div>
                <div class="core-point"></div>
                <div class="fui-label top" style =  "align-items: center;">SCANNING BIO SIGNAL</div>
                <div class="fui-label bottom" style = "color: var(--accent-secondary);">THREAT LEVEL: 0%</div>
            </div>
            <p class="system-msg">IDENTITY VERIFICATION IN PROGRESS...</p>
            <p class="system-msg-note" style = "position:fixed; bottom: 0; padding-bottom: 1rem;">PROPERTY OF TURRIS GRISEA // CONFIDENTIAL</p>
        </div>

        <div id="phase-decrypt" class="loader-phase" style="display: none;">
            <div class="loader-content">
                <p class="system-msg" style="font-size: 22px;">ACCESS LEVEL: ■□□□□ [PUBLIC]</p>
                <div class="scanner-line"></div>
                <p class="system-msg" style="font-size: 18px;">ENTERING DATABASE...</p>
                <p class="system-msg-note">DECRYPTING...</p>
            </div>
        </div>
    </div>
