    <aside class="sidebar-toc" id="sidebar-toc">
        <input type="checkbox" id="toc-toggle" class="toc-toggle">
        <label for="toc-toggle" class="toc-btn">
            <span class="toc-label">Table of Contents</span>
        </label>

        <div class="toc-handle">
            <span class="handle-text">/ / / / / / /</span>
        </div>

        <nav class="toc-container">
            <div class="sidebar-header">TABLE OF CONTENT</div>
            <div id="auto-toc" class="toc-content-body">
                </div>
            <div class="sidebar-footer">READ_ONLY</div>
        </nav>
    </aside>
