    <aside class="sidebar-directory" id = "sidebar-directory">
        <div class="sidebar-handle">
            <span class="handle-text">/ / / / / / /</span>
        </div>

        <nav class="sidebar-content">
            <div class="sidebar-header">SYSTEM INDEX</div>

            <ul class="directory-list">
                {% for collection in site.collections %}
                    {% if collection.label != "posts" %} 
                    <li class="directory-link">
                        <a href="{{ '/' | append: collection.label | relative_url }}" class = "link-text">
                            <div class="link-text">
                            <span class="title">
                                {{ collection.display_name[0] | upcase }}
                            </span>
                            <span class="subtitle">{{ collection.display_name[1] | upcase }}</span>
                        </a>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>

            <div class = "sidebar-footer">AUTH_LEVEL: GUEST</div>
            <div class = "sidebar-footer">
                <a href="{{ '/' | relative_url }}" class="sidebar-homelink">RETURN TO TERMINAL</a>
            </div>
        </nav>
    </aside>    
