// body
body {
    background-color: var(--bg-color);
    color: var(--text-main);
    font-family: 'Segoe UI', sans-serif;
    line-height: 1.5;
    padding: 2rem 5rem;
    max-width: var(--content-width);
    margin-left:auto;
    margin-right:auto;
}

header {
    border-bottom: 1px solid var(--accent-dim);
    margin-bottom: 2rem;
    text-transform: uppercase;
    padding: 1rem 0;
    font-family: var(--font-mono);
    font-size: 2rem;
    font-weight: normal;
    letter-spacing: 3px;
    color: var(--accent);
}

footer {
    max-width: var(--content-width);
    margin-left:auto;
    margin-right:auto;
    margin-top: 4rem;
    padding-top: 1rem;
    font-family: var(--font-mono);

    .back-link {
        display: block;
        text-align: center;
        letter-spacing: 0.1rem;
        font-family: var(--font-mono);
        font-size: 0.8rem;
        padding-bottom: 5px;
        color: var(--accent-dim);
        &:hover { color: var(--accent); }
    }
    
    .footer-grid {
        display: flex;
        justify-content: space-around;
        max-width: var(--content-width);
        margin: 0 auto;
    }

    .footer-div {
        width: 100%;
        height: 1px;
        background: var(--accent-dim) 50%;
        margin-bottom: 20px;
    }

    .footer-item {
        display: flex;
        flex-direction: column;
        align-items: center;

        .label {
            font-size: 0.6rem;
            color: var(--accent-dim);
            letter-spacing: 0.1rem;
        }

        .value {
            font-size: 0.8rem;
            color: var(--accent);
            letter-spacing: 0.1rem;
        }
    }
}