// body
body {
    background-color: var(--bg-color);
    color: var(--text-main);
    font-family: 'Segoe UI', sans-serif;
    line-height: 1.5;
    padding: 2rem 5rem;
    max-width: 1000px;
    margin-left:auto;
    margin-right:auto;
}
