* {
    box-sizing: border-box; /* Makes sure padding doesn't add to width/height */
}

// body
html, body {
    height: 100%;
    margin: 0px;
}

body {
    background-color: var(--bg-color);
    color: var(--text-main);
    font-family: 'Segoe UI', sans-serif;
    line-height: 1.5;
    padding: 2rem 5rem;
    max-width: var(--content-width);
    margin-left:auto;
    margin-right:auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#obsidian-content,
main,
.main-content {
    flex: 1;
}

header {
    border-bottom: 1px solid var(--accent-dim);
    text-transform: uppercase;
    padding: 1rem 0;
    font-family: var(--font-mono);
    font-size: 2rem;
    font-weight: normal;
    letter-spacing: 3px;
    color: var(--accent);
}

footer {
    width: 100%;
    margin-left:auto;
    margin-right:auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: var(--font-mono);

    .back-link {
        display: block;
        text-align: center;
        letter-spacing: 0.1rem;
        font-family: var(--font-mono);
        font-size: 0.9rem;
        padding-bottom: 5px;
        color: var(--accent-dim);
        position: relative;
        text-decoration: none;
    }

    .back-link::after {
        content: '';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 15px; 
        width: 0;
        height: 1px;
        background: linear-gradient(to right, 
            var(--accent) 0%, 
            var(--accent) calc(50% - 45px), 
            transparent calc(50% - 45px), 
            transparent calc(50% + 45px), 
            var(--accent) calc(50% + 45px), 
            var(--accent) 100%
        );
        transition: width 0.2s ease-in-out;
        pointer-events: none;
    }

    .back-link:hover::after {
        width: 95%; 
    }

    .back-link:hover {
        color: var(--accent);
    }
    
    .footer-grid {
        display: flex;
        justify-content: space-around;
        max-width: var(--content-width);
        margin: 0 auto;
    }

    .footer-div {
        width: 100%;
        height: 1px;
        background: var(--accent-dim) 50%;
        margin-bottom: 20px;
    }

    .footer-item {
        display: flex;
        flex-direction: column;
        align-items: center;

        .label {
            font-size: 0.6rem;
            color: var(--accent-dim);
            letter-spacing: 0.1rem;
        }

        .value {
            font-size: 0.8rem;
            color: var(--accent);
            letter-spacing: 0.1rem;
        }
    }
}