// Loading Screen Component
#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: opacity 0.5s ease-out;

    &.fade-out {
        opacity: 0;
        pointer-events: none;
    }

    .loader-content {
        text-align: center;
        width: 100%;
    }

    .scanner-line {
        width: 100%;
        height: 2px;
        background-color: var(--accent);
        box-shadow: 0 0 0px var(--accent);
        position: center;
        animation: expand-line 0.8s ease-out forwards;
    }
}

@keyframes expand-line {
    0% {
        transform: scaleX(0); // Starts as a tiny dot/point in the center
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scaleX(1); // Expands to fill the 100% width
        opacity: 1;
    }
}

// navigation bar
.nav-interface {
    background-color: var(--panel-bg);
    padding: 8px 10px;
    margin-top: 10px;
    display: flex;
    gap: 10px 20px;
    flex-wrap: wrap;
}

.nav-link {
    font-family: var(--font-mono);
    font-size: var(--text-size);
    letter-spacing: 0.1rem;
    color: var(--accent-dim);
    text-transform: uppercase;
    white-space: nowrap;
    &:hover {
        color: var(--accent);
    }
}
