// page header
header {
    border-bottom: 1px solid var(--accent-dim);
    margin-bottom: 2rem;
    padding: 1rem 0;
    font-family: var(--font-mono);
    font-size: 2rem;
    font-weight: normal;
    letter-spacing: 3px;
    color: var(--accent);
}

// navigation bar
.nav-interface {
    background-color: var(--panel-bg);
    padding: 5px 10px;
    margin-top: 10px;
    display: flex;
    gap: 1.5rem;
}

.nav-link {
    font-family: var(--font-mono);
    font-size: 1rem;
    letter-spacing: 0.1rem;
    color: var(--accent-dim);
    text-transform: uppercase;

    &:hover {
        color: var(--accent);
    }
}