// markdown headers
h1 {
    font-family: var(--font-mono);
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--accent);
    border-left: 4px solid var(--accent);
    padding-left: 15px;
    margin-left: 1rem;
    margin-right: 1rem;
    font-weight: lighter;
}

h2, h3 {
    font-family: var(--font-mono);
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--color-text);
    border-left: 4px solid var(--accent);
    padding-left: 15px;
    margin-left: 1rem;
    margin-right: 1rem;
    font-weight: lighter;
}


/**** texts ****/
p {
    font-family: var(--font-main);
    color: var(--color-text);
    font-size: var(--text-size);
    margin: 1rem 1rem;
    text-align: justify;
}

// main headered, big, centered
.main-header {
    font-family: var(--font-mono);
    font-size: var(--main-header-size);
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--accent);
    border-left: 4px solid var(--accent);
    border-right: 4px solid var(--accent);
    padding: 0 5rem;
    text-align: center;
}

// centered text
.poetry {
    font-family: var(--font-mono);
    font-size: var(--text-size);
    color: var(--color-text);
    text-align: center;
}

// regular system message
.system-msg {
    color: var(--color-text);
    font-family: var(--font-mono);
    text-align: center;
    font-size: var(--msg-size);
    letter-spacing: 0.2rem;
}

.system-msg-note {
    color: var(--color-note);
    font-family: var(--font-mono);
    text-align: center;
    font-size: var(--note-size);
    letter-spacing: 0.2rem;
}

// warning text
.warning-text {
    color: var(--accent-secondary);
    font-family: var(--font-mono);
    text-align: center;
    font-size: var(--msg-size);
}

// md divider
hr {
    border: none;
    background-color: var(--color-note);
    height: 1px;
    margin: 2em 0;
}

// hyperlinks
a {
    color: var(--accent-dim);
    text-decoration: none;
    transition: 0.3s;

    &:hover {
        color: var(--accent);
    }
}

.entry-title {
    color: var(--color-text);
    text-decoration: none;
    position: relative;
}

.entry-title::after {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    bottom: -4px;
    left: 50%;
    background: var(--accent-dim);
    transition: all 0.2s ease;
    transform: translateX(-50%);
}

.entry-title:hover::after {
    width: 100%; 
}

.entry-title:hover {
    color: var(--accent);
}

// list
ul {
    list-style: none;
    padding-left: 20px;
    margin: 1rem 1rem;

    li {
        position: relative;
        margin-bottom: 0.5rem;
        color: var(--color-text);

        &::before {
            content: ">";
            position: absolute;
            left: -20px;
            color: var(--accent);
            font-weight: bold;
        }
    }
}

blockquote {
    font-size: var(--text-size);
    border-left: solid 2px var(--accent);
}

blockquote p {
    font-family: var(--font-main) !important;
}