// markdown headers
h1, h2, h3 {
    font-family: var(--font-mono);
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--accent);
    border-left: 4px solid var(--accent);
    padding-left: 15px;
}

// paragraphs
p {
    font-family: $font-main;
    font-size: 1.1rem;
    color: var(--text-main);
    line-height: 1.5;
    margin-bottom: 1.5rem;
    text-align: justify;
    max-width: 75ch;
}

// warning text
.warning-text {
    color: var(--accent-secondary);
    font-weight: normal;
    text-align: center;
}

// regular system message
.system-msg {
    color: var(--text-main);
    font-family: var(--font-mono);
    text-align: center;
}