// markdown headers
h1, h2, h3 {
    font-family: var(--font-mono);
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--accent);
    border-left: 4px solid var(--accent);
    padding-left: 15px;
    font-weight: lighter;
}

// paragraphs
p {
    font-family: var(--font-main);
    color: var(--text-main);
    font-size: var(--text-size);
    margin-left: 1rem;
    text-align: justify;
}

// regular system message
.system-msg {
    color: var(--text-main);
    font-family: var(--font-mono);
    text-align: center;
    font-size: var(--msg-size);
}

// warning text
.warning-text {
    color: var(--accent-secondary);
    font-family: var(--font-mono);
    text-align: center;
    font-size: var(--msg-size);
}

