:root {
    --bg-color: #0a0b10; /* background color */   
    --panel-bg: #161b22;  
    --text-main: #e6edf3; /* main text color */
    --accent: #00d4e0; /* main accent color */
    --accent-dim: #00d5e0a3;  /* dimmed accent color */
    --accent-secondary: #ec365d;
    --font-mono: 'Agency FB', monospace; /* mono font */
}

/* page header */
header {
    border-bottom: 1px solid var(--accent-dim);
    margin-bottom: 2rem;
    padding: 1rem 0;
    
    /* Font size and styling */
    font-family: var(--font-mono);
    font-size: 2rem;          /* Increase this number to make it larger */
    font-weight: normal;
    letter-spacing: 3px;        /* Spaced out letters for a tech feel */
    color: var(--accent);
    text-shadow: 0 0 5px rgba(0, 242, 255, 0.5); /* Subtle neon glow */
}

/* nagivation panel */
nav {
    font-family: var(--font-mono);
    font-size: 1rem;
    font-weight: normal;
    letter-spacing: 0.1rem;
    color: var(--accent-dim);   
    text-shadow: 0 0 5px rgba(0, 242, 255, 0.5);
}

/* main panel */
body {
    background-color: var(--bg-color);
    color: var(--text-main);
    font-family: 'Segoe UI', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 2rem;
}

/* markdown headers */
h1, h2, h3 {
    font-family: var(--font-mono);
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--accent);
    border-left: 4px solid var(--accent);
    padding-left: 15px;
}

.portal-section {
    background: var(--panel-bg);
    border: 1px solid var(--accent-dim);
    border-radius: 4px;
    padding: 1.5rem;
    margin-bottom: 2rem;
    box-shadow: 0 0 15px rgba(0, 242, 255, 0.05);
}

/* hyperlink */
a {
    color: var(--accent-dim);
    text-decoration: none;
    transition: 0.3s;
}

/* hyperlink hover*/
a:hover {
    color: var(--accent);
    text-shadow: 0 0 10px var(--accent); /* Adds a 0.3s glowing fade-in */
}

ul {
    list-style-type: ">> ";
    padding-left: 20px;
}