:root {
    --bg-color: #0a0b10; /* background color */   
    --panel-bg: #161b22;  
    --text-main: #e6edf3; /* main text color */
    --accent: #00d4e0; /* main accent color */
    --accent-dim: #00d5e0a3;  /* dimmed accent color */
    --accent-secondary: #ec365d;
    --font-mono: 'Agency FB', monospace; /* mono font */
}

/* page header */
header {
    border-bottom: 1px solid var(--accent-dim);
    margin-bottom: 2rem;
    padding: 1rem 0;
    
    /* Font size and styling */
    font-family: var(--font-mono);
    font-size: 2rem;          /* Increase this number to make it larger */
    font-weight: normal;
    letter-spacing: 3px;        /* Spaced out letters for a tech feel */
    color: var(--accent);
}


/* naviagtion panel */
.nav-interface {
    background-color: var(--panel-bg);
    padding: 5px 10px;
    margin-top: 10px;
    display: flex;
    gap: 1.5rem;
}

.nav-link {
    font-family: var(--font-mono);
    font-size: 1rem;
    letter-spacing: 0.1rem;
    color: var(--accent-dim); /* Dimmest when not active */
    text-transform: uppercase;
}

.nav-link:hover {
    color: var(--accent);
}

/* main panel */
body {
    background-color: var(--bg-color);
    color: var(--text-main);
    font-family: 'Segoe UI', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 2rem;
}

/* markdown headers */
h1, h2, h3 {
    font-family: var(--font-mono);
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--accent);
    border-left: 4px solid var(--accent);
    padding-left: 15px;
}

/* paragraph */
p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.1rem;
    color: var(--text-main);
    line-height: 1.5;             /* Extra spacing for readability */
    margin-bottom: 1.5rem;        /* Space between paragraphs */
    text-align: justify;          /* Creates a blocky, "data-log" look */
    max-width: 75ch;              /* Prevents lines from getting too long to read */
}

.warning-text {
    color: var(--accent-secondary);
    font-weight: normal;
    text-align: center;
}


/* hyperlink */
a {
    color: var(--accent-dim);
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    color: var(--accent);
}

/* list */
ul {
    list-style-type: ">> ";
    padding-left: 20px;
}
