/* Remove the default arrow in Chrome/Edge/Safari */
details summary::-webkit-details-marker {
    display: none;
}

/* Remove the default arrow in Firefox */
details summary {
    list-style: none;
    cursor: pointer;
    outline: none;
    font-family: var(--font-mono);
    padding: 10px;
    border-bottom: 1px solid var(--color-note);
    color: var(--color-text);
    margin: 0 10px;
    font-size: 18px;
    letter-spacing: 0.1rem;
}

/* The 'Closed' state */
details summary::before {
    content: "[ + ] ";
    margin-right: 10px;
    font-weight: bold;
    color: var(--accent-secondary);
}

/* The 'Open' state */
details[open] summary::before {
    content: "[ - ] ";
    margin-right: 10px;
    font-weight: bold;
    color: var(--accent); /* Change color when active */
}
