.culture-archive {
    .class-section {
        margin-bottom: 2rem;
        transition: all 0.3s ease;

        .class-header {
            display: flex;
            align-items: center;
            cursor: pointer;
            list-style: none;
            padding: 0.5rem 0;
            outline: none;

            // Hide the default browser triangle
            &::-webkit-details-marker { display: none; } 

            .header-text {
                font-family: var(--font-mono); // Teko 300
                font-size: 1.5rem;
                letter-spacing: 0.15rem;
                text-transform: uppercase;
                color: var(--color-text);
            }

            .entry-count {
                font-family: var(--font-mono);
                margin-left: 10px;
                font-size: 1rem;
                color: var(--color-note);
            }

            .ui-arrow {
                margin-left: auto;
                margin-right: 20px;
                width: 10px;
                height: 10px;
                border-right: 1px solid var(--accent);
                border-bottom: 1px solid var(--accent);
                transform: rotate(45deg); 
                transition: transform 0.3s ease;
            }
        }

        // Arrow flips up when details is open
        &[open] .ui-arrow {
            transform: rotate(-135deg); 
        }
    }

    .subclass-container {
        padding: 10px 20px;
    }

    .subclass-group {
        
        .subclass-header {
            font-family: var(--font-mono); 
            font-size: 1.5rem;
            letter-spacing: 0.2rem;
            text-transform: uppercase;
            color: var(--color-note);
            padding-left: 10px;
            position: relative;
            display: block;
            border-bottom: 0.5px solid var(--color-note);
            margin: 0 0 15px 0;
            padding-top: 10px;
        }
    }

    .entry-list {
        list-style: none;
        padding: 0 35px;
        margin: 0;

        .entry-item {
            .entry-link {
                text-decoration: none;
                display: flex;       // Changed to flex
                align-items: flex-start; // Vertical centering
                width: 100%;
                color: var(--color-text);
            }
        }
    }
}

.commit-main {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;

    .chapter-num { 
            font-family: var(--font-mono); 
            color: var(--color-note); 
            font-size: 16px;
            white-space: nowrap; // Prevents the whole block from wrapping
            display: flex;       // Uses flex to keep [COMMIT], hash, and + aligned
            align-items: center;
            margin: 0 20px;
        }
    
    .chapter-title {
        color: var(--color-text);
        display: inline-flex;
        position: relative;
        align-items: center;
        margin: 0 20px;
        text-decoration: none;

        &::after {
            content: '';
            position: absolute;
            width: 0;
            height: 1px;
            bottom: -4px;
            left: 50%;
            background: var(--accent-dim);
            transition: all 0.2s ease;
            transform: translateX(-50%);
        }

        &:hover::after {
            width: 100%; 
        }

        &:hover {
            color: var(--accent);
        }
    }

    .commit-number {
        font-size: 14px;
        font-family: var(--font-mono); 
        color: var(--accent-secondary);
        white-space: nowrap; // Prevents the whole block from wrapping
        display: flex;       // Uses flex to keep [COMMIT], hash, and + aligned
        align-items: center;
        margin-left: auto;

        .hash {
            display: inline-block;
            width: 55px; 
            letter-spacing: 1px; /* This is often more reliable for short strings like hashes */
            text-align: center;
        }

        &::after {
            content: "+";
            font-size: 22px;
            margin-left: 5px;
            line-height: 0;        /* Prevents the large + from pushing the line height up */
        }
    }
}

.class-description {
    font-family: var(--font-mono);
    color: var(--color-note); // Dimmer than the main text
    padding: 5px 10px;
    letter-spacing: 0.1rem;
}