.org-carousel-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    border-top: 1px solid var(--color-note);
    border-bottom: 1px solid var(--color-note);
}

.org-carousel-track {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    @include HIDE-SCROLLBAR;
}

.org-slide {
    flex: 0 0 100%;
    width: 100%;
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
}

.org-inner {
    display: flex;
    gap: 4rem;
    padding: 40px;
    max-width: 900px;
    width: 100%;
    border: none;

    .org-logo {
        flex: 0 0 30%;
        display: flex;
        justify-content: center;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            opacity: 0.8;
            filter: grayscale(1);
            transition: all 0.3s ease;
            &:hover {
                cursor: var(--target);
            }
        }

        .no-portrait {
            @include NO-IMAGE;
            width: 90%;
            aspect-ratio: 1/1;
        }
    }

    .org-content {
        flex: 1;
        .org-title {
            font-family: var(--font-mono);
            color: var(--accent);
            font-size: 24px;
            letter-spacing: 0.1rem;
        }

        .org-subtitle {
            font-family: var(--font-mono);
            color: var(--color-text);
            text-transform: uppercase;
            letter-spacing: 0.1rem;
            font-size: 16px;
        }

        .org-description {
            font-size: 18px;
            line-height: 1.6;
            color: var(--color-text);
            opacity: 0.8;
            margin: 1rem 0;
            border-left: 2px solid var(--accent);
            padding-left: 10px;
        }
    }
}