.featured-organs {
    display: flex;
    justify-content: center;
    margin: 0rem 0;
    padding: 1rem 0;
}

.organ-grid {
    display: flex;
    justify-content: safe center;
    padding: 1rem 0;
    gap: 1.5rem;
    overflow-x: auto;
    &::-webkit-scrollbar { display: none; }
    scrollbar-width: none;
}

.organ-card {
    flex: 0 0 180px; 
    background: var(--bg-color);
    border: 1px solid var(--color-note);
    padding: 10px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    transition: all 0.2s ease;
    overflow: hidden;
    height: auto;

    &:hover {
        border-color: var(--accent);
        background: var(--bg-color);
        
        .organ-overlay span { 
            color: var(--accent);
            &::after {
                width: 100%; // Expands the underline on hover
            }
        }
    }
}

.organ-portrait {
    width: 100%;
    aspect-ratio: 3 / 3; 
    overflow: hidden;
    margin-bottom: 10px;
    position: relative;


    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.8;
        transition: all 0.5s ease;
        filter: grayscale(10%);
    }

    .no-portrait {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: var(--font-mono);
        color: var(--accent-secondary);
        opacity: 60%;
        font-size: 0.8rem;
        letter-spacing: 3px;
        background: repeating-linear-gradient(
            0deg,
            rgba(0,0,0,1),
            rgba(0,0,0,1) 2px,
            rgba(22,27,34,1) 4px
        );
    }
}

.organ-card:hover {
    img {
        // Fully clear the filters to 0 on hover
        filter: grayscale(0%) sepia(0%) hue-rotate(0deg) brightness(1) contrast(1);
        opacity: 1;
    }
}

.organ-overlay {
    padding: 0.5rem 0;
    text-align: center;
    border-top: 1px solid var(--color-note);
    height: 80px;
    // --- Vertical Centering Logic ---
    display: flex;
    flex-direction: column;   // Keeps the span and underline stacked
    justify-content: center;  // Centers content on the Y-Axis
    align-items: center;      // Centers content on the X-Axis
    min-height: 60px;         // Adjust this height to fit your design
    // --------------------------------

    span {
        font-family: var(--font-mono);
        font-size: 0.9rem;
        color: var(--color-text);
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        position: relative;
        display: inline-block;
        transition: color 0.2s ease;

        &::after {
            content: '';
            position: absolute;
            width: 0;
            height: 1px;
            bottom: -4px;
            left: 50%;
            background: var(--accent-dim);
            transition: all 0.2s ease;
            transform: translateX(-50%);
        }
    }
}