.preface-container {
    max-width: 1100px;
    margin: 40px auto;
    padding: 0 40px;

    .preface-header {
        display: flex;
        gap: 40px;
    }


    // --- VERTICAL LOGIC ---
    &.layout-vertical .preface-header {
        flex-direction: row;
        align-items: flex-start;
        .cover-wrapper {
            flex: 0 0 40%; 
            position: relative;
            --dynamic-hue: var(--color-note);
            img { width: 100%; display: block; }
            margin-bottom: 50px;


            &::before {
                content: '';
                position: absolute;
                top: -10px;
                left: -10px;
                width: 100px;
                height: 100px;
                //background-color: var(--color-note);
                background-color: var(--dynamic-hue);
                z-index: -1;
                opacity: 0.5;
            }
            &::after {
                content: '';
                position: absolute;
                top: 15px;
                left: 15px;
                width: 100%;
                height: 100%;
                //border: 2px solid var(--color-note);
                border: 2px solid var(--dynamic-hue);
                z-index: -1;
                opacity: 0.5;
            }
        }
        .preface-metadata { flex: 1; }
    }

    // --- HORIZONTAL LOGIC ---
    &.layout-horizontal .preface-header {
        flex-direction: column;

        .cover-wrapper {
            width: 100%;
            position: relative;
            margin-bottom: 10px;

            img { 
                width: 100%; 
                max-height: 480px; 
                object-fit: cover; 
            }

            &::before {
                content: '';
                position: absolute;
                top: -10px;
                left: -10px;
                width: 100px;
                height: 100px;
                //background-color: var(--color-note);
                background-color: var(--dynamic-hue);
                z-index: -1;
                opacity: 0.5;
            }
            &::after {
                content: '';
                position: absolute;
                top: 15px;
                left: 15px;
                width: 100%;
                height: 100%;
                //border: 2px solid var(--color-note);
                border: 2px solid var(--dynamic-hue);
                z-index: -1;
                opacity: 0.5;
            }
        }
        .preface-metadata { width: 100%; }
    }

    // --- UI ELEMENTS ---
    .story-title {
        font-family: var(--font-mono);
        font-size: 3rem;
        color: var(--accent);
        margin-bottom: 0.5rem;
        line-height: 1;
    }

    .story-subtitle {
        font-family: var(--font-mono);
        color: var(--color-note);
        margin-bottom: 0.5rem;
        margin-left: 10px;
        font-weight: bold;
    }

    .story-stats {
        display: flex;
        gap: 30px;
        padding: 10px 0;
        border-bottom: 1px solid var(--color-note);
        color: var(--color-text);
        opacity: 0.9;
        font-size: 0.9rem;
        font-family: var(--font-mono);
        .label { color: var(--color-note); margin-right: 8px; }
    }

    .story-description {
        margin: 30px 0;
    }
}

/* The Overlay Background */
.system-modal {
    display: none; // Hidden by default
    position: fixed;
    z-index: 9999; // Above everything else
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85); // Deep black background
    backdrop-filter: blur(5px);
    cursor: zoom-out;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* The Image itself */
.modal-content {
    margin: auto;
    display: block;
    max-width: 90%;
    max-height: 85%;
    animation: zoomIn 0.3s ease-out;
}

/* Metadata Caption */
.modal-caption {
    margin-bottom: 20px;
    font-family: var(--font-mono);
    color: var(--color-note);
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* X Close Button */
.close-modal {
    position: absolute;
    top: 20px;
    right: 35px;
    color: var(--color-note);
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
    &:hover { color: var(--accent); }
}

@keyframes zoomIn {
    from { transform: scale(0.9); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}

.toc-header {
    color: var(--accent);
    font-family: var(--font-mono);
    font-size: 2rem;
}

.chapter-list {
    list-style: none;
    padding: 0 35px;
    margin: 0;
    

    .chapter-empty {
        font-family: var(--font-mono);
        color: var(--color-note);
        letter-spacing: 0.1rem;

        &::before {
            content: "";
            display: inline-block;
            height: 9px;
            width: 9px;
            background-color: var(--accent-secondary);
            margin-right: 10px;
            vertical-align: middle;
        }
    }
}
