.wiki-sideber {
    float: right; 
    width: 35%; /* Your preferred width */
    margin-left: 2rem; /* Gap between text and sidebar */
    margin-bottom: 1rem; /* Gap for when text flows underneath */
    
    /* Keep your existing aesthetic styles */
    //background: rgba(255, 255, 255, 0.01);
    //border: 1px solid var(--accent-dim);
    padding: 1rem;
    box-sizing: border-box;
}

.infobox-image {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 0;
    min-width: 0;
    img {
        display: block;
        width: 100%;
        height: auto;
    }
}

.infobox-header {
    font-family: var(--font-mono);
    color: var(--main-text);
    font-size: var(--text-size);
    text-align: center;
    padding: 0.5rem;
    letter-spacing: 0.1rem;
    border-top: 1px solid var(--color-note);
    border-bottom: 1px solid var(--color-note);
    font-weight: bold;
}

.infobox-table {
    width: 100%;
    border-collapse: collapse;
}

.infobox-section {
    border-top: 1px solid var(--color-note);
    padding: 0.5rem 0;
    font-size: 12px;
    color: var(--accent-secondary);
    text-align: left;
    font-family: var(--font-mono);
    letter-spacing: 0.1rem;
    font-weight: normal;
}

.infobox-table td {
    padding: 4px 4px 4px 4px;
    border-bottom: 0.5px solid var(--color-note);
}

.infobox-table .label {
    font-family: var(--font-mono);
    letter-spacing: 0.1rem;
    color: var(--accent);
    font-size: var(--note-size);
    width: 35%;
    text-transform: uppercase;
}

.infobox-table .value {
    font-family: var(--font-main);
    font-size: 13px;
}

@media (max-width: 768px) {
    .main-container {
        flex-direction: column-reverse;
    }
    .wiki-sideber {
        width: 100%;
    }
}