.wiki-sidebar {
    float: right; 
    width: 35%; /* Your preferred width */
    margin-left: 2rem; /* Gap between text and sidebar */
    margin-bottom: 0.5rem; /* Gap for when text flows underneath */
    padding: 1rem;
    box-sizing: border-box;
}

.infobox-image {
    width: 95%;
    box-sizing: border-box;
    min-width: 0;
    padding-top: 10px;
    img {
        display: block;
        width: 100%;
        height: auto;
        filter: grayscale(15%);
    }
}

.infobox-header {
    font-family: var(--font-mono);
    color: var(--main-text);
    font-size: var(--text-size);
    padding: 10px 0 5px 0;
    text-align: center;
    letter-spacing: 0.1rem;
    border-top: 1px solid var(--color-note);
    border-bottom: 1px solid var(--color-note);
}

.infobox-table {
    width: 100%;
    border-collapse: collapse;
}

.infobox-section {
    border-top: 1px solid var(--color-note);
    padding: 0.5rem 0;
    font-size: 12px;
    color: var(--accent-secondary);
    text-align: left;
    font-family: var(--font-mono);
    letter-spacing: 0.1rem;
    font-weight: normal;
}

.infobox-table td {
    padding: 4px 4px 4px 4px;
    border-bottom: 0.5px solid var(--color-note);
    vertical-align: baseline;
}

.infobox-table .label {
    font-family: var(--font-mono);
    letter-spacing: 0.1rem;
    color: var(--accent);
    font-size: 12px;
    width: 35%;
    text-transform: uppercase;
}

.infobox-table .value {
    font-family: var(--font-main);
    font-size: 12px;
}

@media (max-width: 768px) {
    .wiki-sidebar {
        float: none;
        width: 100%;
        margin: 0 0 1rem 0;
    }
}
