.sidebar-directory {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%) translateX(-280px); 
    width: 320px;
    height: auto;
    z-index: 10000;
    transition: transform 0.8s cubic-bezier(0.2, 1, 0.3, 1);
    display: flex;
    flex-direction: row-reverse; /* Handle stays on the right, content on the left */
    align-items: center;
    opacity: 0;
}


#sidebar-directory.visible {
    opacity: 0.9;
    pointer-events: auto;
}

/* On hover, move the whole thing to 0 so the content is visible */
.sidebar-directory.visible:hover {
    transform: translateY(-50%) translateX(0);
    opacity: 0.9;
}


/* The vertical handle */
.sidebar-handle {
    width: 40px;
    height: 140px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /* Keeps the handle visible when the rest is at -260px */
    // clip-path: polygon(0 0, 100% 15%, 100% 85%, 0 100%);

}

.handle-text {
    writing-mode: vertical-rl;
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: bold;
    color: color-mix(in srgb, var(--color-text), transparent 50%);
    letter-spacing: 2px;
    pointer-events: none;
}

.sidebar-content {
    width: 280px;
    background-color: color-mix(in srgb, var(--bg-color), transparent 10%);
    border: 1px solid var(--accent-dim);
    border-left: none;
    padding: 2rem;
}

.sidebar-header {
    font-size: 0.8rem;
    color: var(--accent);
    border-bottom: 1px solid var(--accent-dim);
    margin-bottom: 1.5rem;
    padding-bottom: 0.5rem;
    letter-spacing: 3px;
    font-family: var(--font-mono);
}


.directory-link {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    text-decoration: none;
    letter-spacing: 0.1rem;
    transition: 0.2s;
}

.link-text {
    display: flex;
    flex-direction: column;
    transition: color 0.2s ease;
    
}

.link-text .title {
    color: var(--color-text);
    font-family: var(--font-main);
}

.link-text .subtitle {
    color: var(--color-note); /* Your note/dim color */
    font-family: var(--font-main);
    font-size: 12px;
    letter-spacing: 1px;
    margin-top: 2px;
}

/* When the parent link is hovered, change the children */
.directory-link:hover .title {
    color: var(--accent);
}

.directory-link:hover .subtitle {
    color: var(--accent-dim);
}

.sidebar-footer {
    font-size: 0.6rem;
    padding: 2px 0;
    color: var(--accent-secondary);
    font-family: var(--font-mono);
}

.sidebar-homelink {
    color: var(--color-note) !important;
    font-size: 12px;
    letter-spacing: 0.1rem;
}
