.hub-interface {
    display: flex;
    // border: 1px solid var(--color-note);
    margin: 20px auto;
    height: 80vh;
    overflow: hidden;

    .hub-viewport {
        flex: 1;
        padding: 10px;
        overflow-y: auto;
        border-right: 1px solid var(--color-note);
        @include HIDE-SCROLLBAR;

        .no-image {
            @include NO-IMAGE;
            width: 98%;
            aspect-ratio: 4 / 2;
        }
    }

    .hub-sidebar {
        flex: 0 0 25%;
        display: flex;
        flex-direction: column; 

        .sidebar-header {
            padding: 15px 20px;
            font-family: var(--font-mono);
            text-transform: uppercase;
            font-size: 18px;
            letter-spacing: 0.1rem;
            display: flex;
            justify-content: space-between;

            .header-count {
                color: var(--color-note);
                font-size: 16px;
            }
        }

        .hub-toc {
            flex: 1;
            overflow-y: auto;
            // border-left: 1px solid rgba(var(--color-note), 0.1);

            /* Custom Scrollbar for the TOC */
            &::-webkit-scrollbar { width: 4px; }
            &::-webkit-scrollbar-track { background: transparent; }
            &::-webkit-scrollbar-thumb { background: var(--accent); }

            .toc-entry {
                display: flex;
                padding: 10px 15px;
                text-decoration: none;
                color: var(--color-text);
                transition: all 0.2s ease;

                .entry-hex { 
                    margin-right: 12px; 
                    color: var(--color-note); 
                }
                
                .entry-header { 
                    display: block; 
                    font-family: var(--font-mono); 
                    font-size: 1.2rem; 
                }

                .entry-commit { 
                    display: block; 
                    font-size: 0.9rem; 
                    color: var(--color-note);
                    letter-spacing: 0.1rem;
                    font-family: var(--font-mono); 
                }

                &:hover { 
                    background: #5353614a;
                }

                &.active {
                    background: rgba(var(--accent-rgb), 0.1);
                    border-left: 3px solid var(--accent);
                    .entry-hex, .entry-header { color: var(--accent); }
                }
            }
        }
    }
}