$pointer: url('/Dust-et-Lumina/assets/icons/cursor-svgrepo-com.svg'), auto;
$zoom: url("/Dust-et-Lumina/assets/icons/plus-1469-svgrepo-com.svg") 10 10, zoom-in;
$target: url('/Dust-et-Lumina/assets/icons/target-2-svgrepo-com.svg') 10 10, pointer;

:root {
    --pointer: #{$pointer};
    --zoom: #{$zoom};
    --target: #{$target};
}

html { cursor: var(--pointer); }
a:hover { cursor: var(--target); }
img { cursor: var(--zoom); }