html {
    cursor: url('/Dust-et-Lumina/assets/icons/cursor-svgrepo-com.svg'), auto;
}

a:hover {
    cursor: url('/Dust-et-Lumina/assets/icons/target-2-svgrepo-com.svg'), pointer;
}

img {
    cursor: url("/Dust-et-Lumina/assets/icons/plus-1469-svgrepo-com.svg"), zoom-in;
}