$font-main: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$font-mono: 'Agency FB', "Times New Roman", Times, "Source Han Serif CN", "Source Han Serif SC", "Songti SC", "SimSun", serif, monospace;
$font-sans: 'Segoe UI', sans-serif;

:root {
    --font-mono: #{$font-mono};
    --font-main: #{$font-main};
    --font-sans: #{$font-sans};
}
