$font-main: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$font-mono: 'Agency FB', monospace, "Times New Roman", Times, serif;
$font-sans: 'Segoe UI', sans-serif;

:root {
    --font-mono: #{$font-mono};
    --font-main: #{$font-main};
    --font-sans: #{$font-sans};
}
