
$note-size: 14px;
$text-size-small: 16px;
$text-size: 18px;
$msg-size: 16px;
$main-header-size: 30px;
$page-title-size: 35px;


:root {
    --text-size: #{$text-size};
    --note-size: #{$note-size};
    --text-size-small: #{$text-size-small};
    --msg-size: #{$msg-size};
    --main-header-size: #{$main-header-size};
    --page-title-size: #{$page-title-size};
}
