$content-width: 1000px;

:root {
    --content-width: #{$content-width};
}

/* hide scrollbars */
@mixin hide-scrollbar {
    scrollbar-width: none;  /* Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    &::-webkit-scrollbar {
        display: none;  /* Chrome, Safari */
    }
}