---
layout: default
---

<div class="main-container">
    <aside class="wiki-infobox">
        <div class="infobox-header">
            {{page.name[0]}}
            <br>
            {{page.name[1]}}
        </div>

        {% if page.image %}
        <div class="infobox-image">
            <img src="{{ page.image | relative_url }}">
        </div>
        {% endif %}

        <table class="infobox-table">
            <tr>
                <th colspan="2" class="infobox-section">// BIOGRAPHICAL DATA</th>
            </tr>
            
            <tr>
                <td class="wiki-label">FULL NAME</td>
                <td class="wiki-value">{{ page.fullname | default: "▇▇▇" | join: "<br>" }}</td>
            </tr>

            {% if page.alias %}
            <tr>
                <td class="wiki-label">ALIAS</td>
                <td class="wiki-value">{{ page.alias | join: "<br>"}}</td>
            </tr>
            {% endif %}

            <tr>
                <td class="wiki-label">BIRTHDATE</td>
                <td class="wiki-value">{{ page.birthday | default: "▇▇" }}</td>
            </tr>

            <tr>
                <td class="wiki-label">HOMELAND</td>
                <td class="wiki-value">{{ page.homeland | default: "▇▇▇" }}</td>
            </tr>

            <tr>
                <td class="wiki-label">FACTION</td>
                <td class="wiki-value">{{ page.faction | default: "未归档" | join: "<br>" }}</td>
            </tr>

        </table>
    </aside>
    
    {{ content }}
    
</div>