---
layout: default
---

<div class="character-container">
    <article class="character-main">
        {{ content }}
    </article>

    <aside class="character-sidebar">
        <div class="infobox-header">
            {{page.name[0]}}
            <br>
            {{page.name[1]}}
        </div>

        {% if page.image %}
        <div class="infobox-image">
            <img src="{{ page.image | relative_url }}">
        </div>
        {% endif %}

        <table class="infobox-table">
            <tr>
                <th colspan="2" class="infobox-section">// BIOGRAPHICAL DATA</th>
            </tr>
            <tr>
                <td class="label">FULL NAME</td>
                <td class="value">{{ page.fullname | default: "■■■" }}</td>
            </tr>

            {% if page.alias %}
            <tr>
                <td class="label">ALIAS</td>
                <td class="value">{{ page.alias | join: "<br>"}}</td>
            </tr>
            {% endif %}

            <tr>
                <td class="label">AGE</td>
                <td class="value">{{ page.age | default: "■■" }}</td>
            </tr>

            <tr>
                <td class="label">HOMELAND</td>
                <td class="value">{{ page.homeland | default: "■■■" }}</td>
            </tr>

        </table>
    </aside>
</div>