<!DOCTYPE html>
<html>
{% include head.html %}
<body>
    {% include image-modal.html %}
    <canvas id="network-canvas"></canvas>

    {% include announcement-modal.html %}

    {% include loader.html %}

    {% include nav.html %}

    {% include sidebar-directory.html %}

    <!--main content-->
    <main id="obsidian-content">
        <header class="page-header">
            <div class="header-main">
                <span class="title-text">{{ page.title }}</span>
                {% if page.subtitle %}
                    <span class="page-subtitle">{{ page.subtitle }}</span>
                {% endif %}
            </div>
        </header>
        <div class="page-meta">
                {% if page.last-updated %}
                <div class="meta-info"><span class="meta-label">Last Updated:</span>{{ page.last-updated | default: "NA" }}</div>
                {% endif %}
                {% if page.access-level %}
                <div class="meta-info"><span class="meta-label">Access Level:</span>{{ page.access-level | default: "PUBLIC" }}</div>
                {% endif %}
        </div>
        <br>
        {% assign access = page.access-level | downcase%}
        {% if access == "top secret" or access == "classified" %}
        <div class="classified-warning">
            <div class = "system-msg" style="text-align: left; padding: 0 10px;">
                This document is the property of TURRIS GRISEA.
                <br>
                Any Unauthorized access, reproduction, or dissemination will result in immediate revocation of clearance and internal measures.
            </div>
            <hr>
            <div class="system-msg-warning" style="font-weight: bold;">
                You have been warned.
            </div>
            <button id="reveal-btn" class="terminal-button classified-access-button" onclick="toggleFile()">
                Access 
            </button>
        </div>
            
            <div id="classified-content" class="classified-hide">
                {{ content }}
                {% include linked-pages.html links=page.link %}
            </div>


        {% else %}
            {{ content }}
            {% include linked-pages.html links=page.link %}
        {% endif %}
        
    </main>

    {% include sidebar-toc.html %}

    {% include footer.html %}

    <script src="{{ '/assets/js/site.js' | relative_url }}"></script>
    {% if page.math == true %}
    <script src="{{ '/assets/js/math.js' | relative_url }}"></script>
    {% endif %}
</body>
</html>