---
layout: default
---
<div class="hub-container">
    <section class="hub-body">
        {{ content }}    
        <ul class="data-list">
            {% assign collection_name = page.collection_type %}
            {% assign all_items = site[collection_name] | where_exp: "item", "item.draft != true" %}
            {% assign sorted_entries = all_items | sort_natural: "order" %}

            {% for entry in sorted_entries %}
                <li>
                    <a href="{{ entry.url | relative_url }}">
                        <span class="entry-title">{{ entry.title }}</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </section>
</div>