---
layout: default
---
<div class="hub-container">
    <section class="hub-body">
        {{ content }}    
        <ul class="data-list">
            {% assign collection_name = page.collection_type %}
            
            {% case collection_name %}
                {% when 'histories' %}
                    {% assign sorted_items = site[collection_name] | where_exp: "item", "item.draft != true" | sort: "abs_time" %}
                {% else %}
                    {% assign sorted_items = site[collection_name] | where_exp: "item", "item.draft != true" | sort: "subtitle" %}
            {% endcase %}

            {% for entry in sorted_items %}
                <li>
                    <a href="{{ entry.url | relative_url }}">
                        <span class="entry-title">{{ entry.title }}</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </section>
</div>