html, body {
    height: 100%;
    margin: 0px;
}

body {
    background-color: var(--bg-color);
    color: var(--color-text);
    font-family: 'Segoe UI', sans-serif;
    line-height: 1.5;
    padding: 2rem 5rem;
    max-width: var(--content-width);
    margin-left:auto;
    margin-right:auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}