// ---- MARKDOWN CONTENT HEADERS ---- //

h1 { @include HEADERS($font-size: 30px, $color: var(--accent)); }

h2, .h2 { 
    @include HEADERS($font-size: 24px); 
    margin-top: 50px; 
}

h3 { 
    @include HEADERS($font-size: 22px, $border-width: 3px); 
    margin-top: 40px; 
}

h4 {
    font-family: var(--font-main);
    letter-spacing: 2px;
    color: var(--color-note);
    text-align: right;
    text-decoration: underline;
    text-underline-offset: 5px;
    font-weight: 400;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 16px;
    margin-bottom: -0.5rem;
    margin-top: -0.25rem;
};

@media screen and (max-width: 768px) {
    h2, .h2 {
        font-size: 22px;
        margin-top: 30px;
    }

    h3 {
        font-size: 20px;
        margin-top: 25px;
    }
}

// ---- PAGE HEADER ---- //

.page-header {
    border-bottom: 1px solid var(--accent-dim);
    text-transform: uppercase;
    padding: 1rem 0 0.5rem 0;
    margin: 0.5rem 0;
    font-family: var(--font-mono);
    color: var(--accent);

    .header-main {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;
    }

    .title-text {
        font-size: 30px;
        letter-spacing: 3px;
        line-height: 1;
    }

    .page-subtitle {
        font-size: 14px;
        color: var(--color-note);
        letter-spacing: 2px;
        line-height: 1;
        text-align: right;

        &::after {
            content: "";
            display: inline-block;
            width: 8px;
            height: 8px;
            background-color: var(--accent-secondary);
            margin-left: 5px;
            vertical-align:auto;
        }
    }
}

.page-meta {
    display: flex;
    flex-wrap: wrap;
    .meta-info {
        display: flex;
        gap: 10px;
        text-transform: uppercase;
        letter-spacing: 0.05rem;
        color: var(--color-text);
        opacity: 0.9;
        font-size: 14px;
        font-family: var(--font-mono);
        margin-right: 50px;
        .label { color: var(--color-note); margin-right: 5px; }
    }
}

@media screen and (max-width: 768px) {
    .page-header {
        margin-bottom: 1rem;

        .header-main {
            flex-direction: column;            
            align-items: flex-start; 
            justify-content: flex-start;
            gap: 15px;
        }

        .title-text {
            font-size: 25px; 
            width: 100%;
        }

        .page-subtitle {
            text-align: left;
            width: 100%;
            padding-bottom: 3px;
            padding-left: 5px;
            
            &::after {
                display: none;
            }

            &::before {
                content: "";
                display: inline-block;
                width: 9px;
                height: 9px;
                background-color: var(--accent-secondary);
                margin-right: 5px;
                margin-left: 0;
            }
        }
    }

    .page-meta {
        flex-direction: column;
        gap: 10px;
        .meta-info {
            margin-right: 0;
            font-size: 12px;
            flex-wrap: wrap;
        }
    }
}