header {
    border-bottom: 1px solid var(--accent-dim);
    text-transform: uppercase;
    padding: 1rem 0;
    font-family: var(--font-mono);
    font-size: 2rem;
    font-weight: normal;
    letter-spacing: 3px;
    color: var(--accent);
}