* {
    box-sizing: border-box;
}

.hub-container {
    max-width: var(--content-width);
}

.main-container {
    max-width: var(--content-width);
    display: block;
}

.content-main {
    min-width: 0; 
}

.main-container::after {
    content: "";
    display: table;
    clear: both;
}